---
import "@fontsource/merriweather/400.css"
import "@fontsource/merriweather/700.css"
import "../styles/app.css"
import Nav from "../components/shared/Nav.svelte"
import Cursor from "../components/shared/Cursor.svelte";
export interface Props {
	title: string;
	description?: string;
	isPreviewing?: boolean;
}

let { title, isPreviewing, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const socialImageURL = new URL('/portfolio-thumbnail.png', Astro.site)
if (!description) description = "Nathan Portfolio Site & Where they put their short blogs reviewing Web Developement tech."
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel='canonical' href={canonicalURL} />
		<meta name="description" content={description}>
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:type" content="article">
		<meta property="og:image" content={socialImageURL}>
		<title>{title}</title>
	</head>
	<body>
		<main
			class="
      			w-full
      			min-h-screen
      			grid-flow-row
      			auto-rows-max
      			grid grid-cols-container
      			py-20
      			px-4
      			text-white
      			selection:bg-purple-500
    		"
		>
			<h1 class="sr-only">{title}</h1>
			<Nav url={Astro.url.pathname} />
  			<slot />
		</main>

		{(!isPreviewing ?? false) && <Cursor client:idle />}
	</body>
</html>

<style is:global>
	main > *, main > astro-island > *  {
	   grid-column: 2 / 3;
	}
</style>
